* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #212121;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 1200px;
    margin: auto;
  }
  :root {
    --white-color: #fff;
    --brand-color: #2196f3;
    --gray-text-color: #757575;
    --dark-gray: #2f303a;
    --light-gray: #f5f4fa;
    --lighter-gray: #afb1b8;
    --black-icon: #212121;
  }
  /* Header */
  .header {
    border: 1px solid #ececec;
    padding: 24px 0;
    display: flex;
  }
  
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo span a {
    color: var(--brand-color);
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 26px;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 60px;
  }
  
  .contact-info li {
    margin-left: 40px;
  }
  /* Info header */
  .contact-info .icon {
    fill: var(--gray-text-color);
  }
  .menu .item a {
    text-decoration: none;
    position: relative;
  }
  
  .menu .link {
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
  
  .menu .item .link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    background: var(--brand-color);
    border-radius: 2px;
    transition: 0.4s ease;
    top: 47px;
    right: 0;
  }
  
  .menu .item .link:hover::after {
    width: 100%;
    left: 0;
  }
  
  .menu .item a:hover,
  .header .contact-info li a:hover,
  .header .contact-info li a:hover svg path,
  .header .contact-info .icon:hover,
  .menu .item a.actual,
  .footer_container .contact-info-footer a:hover,
  .menu .item a:focus,
  .header .contact-info li a:focus,
  .menu .item a.actual,
  .footer_container .contact-info-footer a:focus,
  .contact-info li a:focus svg path,
  .section-clients .clients div:hover,
  .section-clients .clients .client .icon:hover,
  .section-clients .clients .client .icon:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
    border-color: var(--brand-color);
  }
  
  .header_container .contact-info {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .header .contact-info li a {
    color: var(--gray-text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
  
  /* Primera sección */
  .section {
    padding: 94px 0;
  }
  .first_section {
    background-color: var(--dark-gray);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/fondo-index.jpg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
  }
  
  .section .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
    padding: 113px 0;
  }
  
  .main-title {
    color: var(--white-color);
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1.3;
    width: 696px;
  }
  
  .button-service {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-top: 30px;
    padding: 10px 32px;
    cursor: pointer;
    transition: 0.7s;
  }
  .button-service:hover,
  .button-service:focus {
    background-color: var(--light-gray);
    color: var(--brand-color);
    transition: 0.7s;
  }
  /* Modal */
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    position: absolute;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    padding: 40px;
  }
  
  .modal__button-modal {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 8px;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Formulario */
  
  .form {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .form h3 {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
  }
  .form label {
    display: block;
    letter-spacing: 0.01em;
    color: var(--gray-text-color);
    padding-bottom: 5px;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
  
  .form input,
  textarea {
    display: block;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 40px;
    margin-bottom: 10px;
  }
  
  .form textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 10px;
  }
  
  .form textarea::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .modal-form-checkbox input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    /* border: 1px solid rgba(33, 33, 33, 0.2); */
    border: none;
    width: 16px;
    margin: 10px;
  }
  
  .modal-form-checkbox {
    position: relative;
    display: flex;
    margin: 10px;
  }
  
  .modal-form-checkbox span {
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
    letter-spacing: 0.03em;
    line-height: 1.5;
    margin-left: 40px;
  }
  
  .form .modal-form-checkbox input {
    display: none;
  }
  .form .modal-form-checkbox-svg {
    position: absolute;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    fill: none;
    top: 10px;
    left: 10px; 
    width: 16px;
    height: 16px;
  }
  .modal-form-checkbox input:checked + .modal-form-checkbox-svg {
    display: block;
    background: var(--brand-color);
    border-radius: 4px;
    fill: var(--white-color);
  }
  
  .form .modal-form-input:focus,
  .form .modal-form-input:hover {
    border: 1px solid var(--brand-color);
  }
  
  .form .modal-form-field {
    position: relative;
  }
  .form .modal-form-svg {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 14px;
    left: 15px;
    fill: var(--black-icon);
  }
  .form .modal-form-input:focus + .modal-form-svg,
  .form .modal-form-input:hover + .modal-form-svg {
    fill: var(--brand-color);
  }
  
  .btn-send {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    border-radius: 4px;
    border-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-top: 10px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.7s;
  }
  .btn-send:hover {
    background-color: var(--lighter-gray);
  }
  
  /* Sección Descripción */
  
  .description {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
  }
  
  .description li {
    text-decoration: none;
    width: 270px;
  }
  
  .description li div {
    background-color: var(--light-gray);
    height: 120px;
    width: 270px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .description li h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 4;
    text-transform: uppercase;
  }
  
  .description li p {
    color: var(--gray-text-color);
    font-size: 14px;
    line-height: 1.7;
  }
  /* Subsection */
  
  .sub-section h2 {
    text-align: center;
    font-size: 36px;
    margin-top: 60px;
  }
  
  .sub-section .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 0;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03rem;
  }
  
  .sub-section .images li {
    list-style: none;
    position: relative;
    z-index: -1;
  }
  
  .sub-section ul li div {
    position: absolute;
    bottom: 1%;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Sección Nuestro equipo */
  .section_three {
    background-color: var(--light-gray);
    /* height: 648px; */
  }
  
  .section-three h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card {
    width: 270px;
    height: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .card h4 {
    text-align: center;
    letter-spacing: 0.03rem;
    padding: 15px 0;
  }
  
  .card p {
    text-align: center;
    color: var(--gray-text-color);
    letter-spacing: 0.03rem;
  }
  .section-three .cards .card ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  .section-three .cards .card ul li a {
    color: var(--lighter-gray);
    display: block;
    text-decoration: none;
  }
  .section-three .cards .card ul li {
    border-radius: 50%;
    text-align: center;
    line-height: 2.3;
    width: 44px;
    height: 44px;
  }
  .section-three .cards .card ul li a:hover {
    background: var(--brand-color);
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    line-height: 2.3;
    width: 44px;
    height: 44px;
  }
  
  .section-three .cards .card ul li a:focus {
    background: var(--brand-color);
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    /* line-height: 2.2; */
    width: 44px;
    height: 44px;
  }
  /* Sección Clientes Regulares */
  .section-clients h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
  }
  .section-clients .clients {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 70px;
  }
  .section-clients .clients .client {
    border: 1px solid var(--lighter-gray);
    border-radius: 4px;
    width: 170px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .clients .icon {
    fill: var(--lighter-gray);
  }
  
  /* Footer */
  .footer {
    display: flex;
    background-color: var(--dark-gray);
    padding: 55px 0;
    align-items: center;
  }
  
  .footer .logo {
    padding: 0 0 10px;
  }
  
  .footer .item-footer {
    color: var(--white-color);
    font-size: 14px;
    font-style: unset;
    line-height: 1.7;
  }
  
  .footer .contact-info-footer a {
    color: var(--gray-text-color);
    font-size: 14px;
    text-decoration: none;
  }
  
  .contact-info-footer {
    font-style: unset;
    line-height: 1.7;
  }
  /* Estilos boletín */
  .footer_container .footer-email-news {
    fill: var(--white-color);
  display: block;
  margin-left: 20px;
  }
  
  .footer_container .footer-email-news input {
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 20px;
    background-color: var(--dark-gray);
    color: var(--light-gray);
  }
  .email-news-display {
    display: flex;
    padding-top: 20px;
  }
  .email-news-display .btn-send-news {
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    border-radius: 4px;
    border-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-left: 10px;
    padding: 9px 50px;
    cursor: pointer;
    transition: 0.7s;
    display: flex;
    align-items: center;
  }
  
  .btn-send-news svg {
    margin-left: 10px;
  }
  .btn-send-news:hover {
    background-color: var(--lighter-gray);
  }
  
  /* -----Estilos portafolio----- */
  /* Menú Portfolio */
  .contact-info li svg {
    margin-right: 10px;
  }
  
  .contact-info li {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  /* Botones Portafolio */
  .buttons_portfolio {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 50px 0;
  }
  .button-portfolio {
    background-color: var(--light-gray);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 8px 32px;
    margin-left: 10px;
  }
  
  .button-portfolio:hover,
  .button-portfolio.actual,
  .button-portfolio:focus {
    background-color: var(--brand-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  /* Tarjetas Portafolio */
  .portfolio_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .portfolio-card {
    background: var(--white-color);
    border: 1px solid #eee;
    width: 370px;
    height: 404px;
    margin: auto;
    position: relative;
  }
  .portfolio-card:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio-card h4 {
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.06rem;
    padding: 20px;
  }
  
  .portfolio-card p {
    font-size: 1rem;
    text-align: left;
    color: var(--gray-text-color);
    letter-spacing: 0.03rem;
    padding-left: 20px;
  }
  
  .emergent-card {
    position: absolute;
    top: 0;
    height: 294px;
    width: 370px;
    background-color: rgba(33, 150, 243, 0.9);
    letter-spacing: 0.03em;
    padding: 63px 24px;
    transform: translateY(105%);
    transition: 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .emergent-card p {
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
  }
  
  .portfolio-card:hover .emergent-card {
    transform: translateY(0%);
    transition: 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-image {
    position: relative;
    overflow: hidden;
  }
  /* ----Footer Social ----*/
  .footer_container {
    display: flex;
    justify-content: space-between;
  }
  
  .social {
    margin-left: 80px;
  }
  .social h4,
  .footer-email-news h4 {
    color: var(--white-color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  
  .social ul {
    list-style: none;
    display: flex;
    margin: auto;
    font-size: 20px;
    transition: 500ms ease;
    padding: 20px 0;
  }
  .social li {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 2.3;
    width: 44px;
    height: 44px;
    margin: auto;
  }
  
  .social ul a:focus {
    background: var(--brand-color);
    color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    width: 44px;
    height: 44px;
  }
  .social ul li a {
    color: var(--white-color);
    display: block;
    text-decoration: none;
  }
  
  .social li:not(:last-child) {
    margin-right: 10px;
  }
  .social li:hover {
    background-color: var(--brand-color);
  }
  