$white-color: #fff;
$brand-color: #2196f3;
$gray-text-color: #757575;
$dark-gray: #2f303a;
$light-gray: #f5f4fa;
$lighter-gray: #afb1b8;
$black-icon: #212121;

$ft-family: "Roboto", sans-serif;
$ft-logo: "Raleway", sans-serif;

$ft-semibold:500;
$ft-bold:700;

